<p>
  contact-us works!
</p>
<div class="jumbotron">
  <div class="mb-3">
    <label for="txtFirstName">First Name</label>
    <input type="text" class="form-control" id="txtFirstName" [(ngModel)]="txtFirstName">
    <div class="invalid-feedback" [ngClass]="{'invalid': isSubmited && !isnullOrEmpty(txtFirstName)}">
      Please fill first name
    </div>
  </div>
  <div class="mb-3">
    <label for="txtLastName">Last Name</label>
    <input type="text" class="form-control" id="txtLastName" [(ngModel)]="txtLastName">
    <div class="invalid-feedback" [ngClass]="{'invalid': isSubmited && !isnullOrEmpty(txtLastName)}">
      Please fill last name
    </div>
  </div>
  <div class="mb-3">
    <label for="txtComments">Comments</label>
    <textarea id="txtComments" class="form-control" [(ngModel)]="txtComments"></textarea>
    <div class="invalid-feedback" [ngClass]="{'invalid': isSubmited && !isnullOrEmpty(txtComments)}">
      Please fill comments
    </div>
  </div>
  <div class="mb-3" style="padding-top: 13px;">
    <button class="btn btn-primary" (click)="Submit()">Submit</button>
  </div>
</div>
