<p>
  gallery works!
</p>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let post of posts">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="{{post.thumbnailUrl}}" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">{{post.title}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
