<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Kobi Exercise</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [ngClass]="{'active': pageName == '/home'}">
          <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" [ngClass]="{'active': pageName == '/contact'}">
          <a class="nav-link" [routerLink]="['/contact']">Contact us</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': pageName == '/pastpages'}">
          <a class="nav-link" [routerLink]="['/pastpages']">Post</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': pageName == '/gallery'}">
          <a class="nav-link" [routerLink]="['/gallery']">Gallery</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main role="main" class="container">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>